* > p{
    font-size: 20px;
    font-weight: 600;
}

#centrada{
    height: 200px;
    width: 500px;
    background-color: rgb(174, 174, 255);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrada{    
    height: 20px;
    width: 350px;
    justify-content: space-between;
}

.linia{
    display: flex;
    direction: row;
    align-items: center;
}
