* > p{
    font-size: 18px;
    font-weight: 600;
}

section.separat{
    font-size: 30px;
}

#centrada{
    height: 200px;
    width: 500px;
    background-color: rgb(213, 255, 134);
    border: rgb(161, 223, 46) 5px solid;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#marge{
    
}

.entrada{    
    height: 20px;
    width: 350px;
    justify-content: space-between;
}


.linia{
    display: flex;
    direction: row;
    align-items: center;
}

.separat{
    justify-content: space-between;
}

* > body{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-color: rgb(169, 222, 253);
    margin: 50px;
}